// 中文简体文字
$font-cn: "lucida grande", "lucida sans unicode", "PingFang SC","Helvetica Neue","Helvetica", "WenQuanYi Micro Hei", "Arial",sans-serif;

// 中文台湾正体文字
$font-tw: "Songti TC", "PingFang TC","Helvetica Neue","Helvetica", "WenQuanYi Micro Hei", "Arial",sans-serif;

// 中文港澳字体
$font-hk: "Microsoft YaHei","PingFang HK", lucida,"Helvetica Neue","Helvetica","Arial",sans-serif;

// 日文字体
$font-jp: "SF Pro JP","SF Pro Text", "SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;

// 韩文字体
$font-ko:  "SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;